<h3><a class="btn btn-secondary" href="/category"><i class="fa fa-plus"></i> Create New Categories</a> 
<a class="btn btn-info" href="/controlpanel"><i class="fa fa-list-alt"></i> Back to Portal</a></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>CATEGORY</th>
            <th>CATEGORY DESCRIPTION</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{ this.category }}</td>
            <td>{{ this.categoryDescription }}</td>

            <td>
                <a href="/category/update/{{this.id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/category/delete/{{this.id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>